{% load static%}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="{% static 'display_styles.css' %}">
    <title>Video of North Lane</title>
    <script>
        function updateData() {
            fetch('http://127.0.0.1:8000/getDisplayData')
                .then(response => response.json())
                .then(data => {
                    document.getElementById('cars').innerHTML = data.noOfCarsNorth;
                    document.getElementById('bikes').innerHTML = data.noOfBikesNorth;
                    document.getElementById('trucks').innerHTML = data.noOfTrucksNorth;
                });
        }
        setInterval(updateData,100);
    </script>
</head>

<body>
    <div>
        <img src="{% url 'videoFeedNorth' %}" alt="Traffic" height="300" width="300"></img>

    </div>
    <table>
        <tr>
            <td colspan="2" class="t-header">
                Lane 2 North
            </td>
        </tr>
        <tr>
            <td class="attribute">
                Cars
            </td>
            <td class="values" id="cars">
                0
            </td>
        </tr>
        <tr>
            <td class="attribute">
                Bikes
            </td>
            <td class="values" id="bikes">
                0
            </td>
        </tr>
        <tr>
            <td class="attribute">
                Trucks
            </td>
            <td class="values" id="trucks">
                0
            </td>
        </tr>
    </table>


</body>

</html>